/* body */
body{
    margin: 0px;
}

/* 表示領域 */
#back{
    background-color: pink;
    max-width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* オセロ盤 */
#board{
    position: relative;
    background-color: black;
}

/* マス */
.cell{
    position: absolute;
    background-color: green;
}

/* 石 */
.stone{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

/* メッセージ */
#msg{
    position: relative;
    background-color: pink;
}

/* 各種ボタンのラッピング */
.wrap{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    background-color: pink;
}

/* リセットボタン */
#reset{
    position: relative;
}

/* プレイヤー選択 */
.playerSelect{
    position: relative;
}

/* 対局スピード */
#speed{
    position: relative;
}

/* 散布図 */
#chart{
    background-color: white;
}